<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Transcript</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/index.css">
</head>
<body class="bg-dark">
  <div>
    <br>
  </div>
  <div class="container-fluid bg-primary text-white p-4 text-center">

    <h1>Video Transcript</h1>


<form action="/" method="post" enctype="multipart/form-data">
  <div class="d-flex justify-content-center gap-2 mt-3">
    <input
      type="file"
      name="file"
      accept="video/*"
      class="form-control w-50"
      required
    >
    <button type="submit" class="btn btn-success">
      Transcribe
    </button>
  </div>
</form>

  </div>

  <br>

    {% if transcript %}
      <h3 style="color: white; text-align: center;">Transcript:</h3>

      {% if audio_file %}
      <div class="text-center mt-3">
      <audio id="player" controls>
        <source src="/uploads/{{ audio_file }}" type="audio/wav">
        Your browser does not support the audio element.
      </audio>
      </div>
      {% endif %}
      
      <div id="transcript" class="container rounded bg-primary text-white p-4 text-center">
        {% for word in transcript%}
          <span class="word me-1" data-index="{{ loop.index0 }}">{{word.word}}</span>
        {% endfor %}
      </div>

      <script>
        const audio = document.getElementById("player")
        const transcript = {{ transcript | tojson }};

        document.getElementById("transcript").addEventListener("click", (e) => {
          if (!e.target.classList.contains("word")) return;
          
          const index = Number(e.target.dataset.index);
          const word = transcript[index];

          audio.currentTime = word.start;
          audio.play();
          
        });
      </script>
    {% endif %}
      


    <br><br>
  
</body>
</html>
